@use "../../styles/reset" as *;
@use "../../styles/colors" as *;

.home{
    padding: 2rem;
    overflow-y: hidden;
    &__title{
        font-size: 3.5rem;
    }
    &__description{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .home{
        &__title{
            font-size: 4.5rem;
        }
        &__description{
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 1024px) {
    .home{
        &__title{
            font-size: 5.5rem;
        }
        &__description{
            font-size: 2.5rem;
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 1440px) {
    .home{
        &__title{
            font-size: 7rem;
        }
        &__description{
            font-size: 3rem;
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 2560px) {
    .home{
        &__title{
            font-size: 13rem;
        }
        &__description{
            font-size: 5rem;
            font-weight: 400;
            margin-top: 4rem;
        }
    }
}