@use "../../styles/reset" as *;
@use "../../styles/colors" as *;

.product-list{
    a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-decoration: none;
    color: $black-color
    }
    
}