@use "../../styles/reset" as *;
@use "../../styles/colors" as *;

.form{
padding: 2rem;
text-align: center;
    &__form{
        display: flex;
        flex-direction: column;
        &--input{
        margin: 0.8rem auto;
        border-radius: 1rem;
        text-indent: 0.5rem;
        text-overflow: ellipsis;
        width: 10rem;
        height: 2rem;
        }
        
    }
}

@media screen and (min-width: 768px) {
    
}