@use "../../styles/reset" as *;
@use "../../styles/colors" as *;

.form{

    &__form{
        display: flex;
        flex-direction: column;
        &--input{
        margin: 0.8rem auto;
        border-radius: 1rem;
        text-indent: 0.5rem;
        text-overflow: ellipsis;
        }
    }
}